// index.styl
.MathJax
    font-size 1.25rem

.theorem
    margin 1rem 0
    padding .1rem 1.5rem
    border-radius 0.4rem
    background-color #f0f4f8
    .title
        font-weight bold

.custom-block
    &.right
        color transparentify($textColor, 0.4)
        font-size 0.9rem
        text-align right

.todo 
    padding 0.05rem 1.25rem
    margin 0.5rem 0
    color #856404
    background-color #fff3cd8c
    font-weight bold
    border-radius 0.05rem
    border 0.1rem solid #ffeeba
    border-left 0.3rem solid rgba(236, 202, 109, 0.719)

.block
    margin 2rem 0
    overflow hidden
    border-radius 0.35rem

    &-title
        margin 1rem 1.25rem

        font-size 1rem
        font-weight bold

    &-contents
        margin 0rem 1.25rem


.nb
    &-block
        background #4dd89920
        border-color #4dd89931
    &-title
        color #4dd899

.task
    &-block
        background #4db8d820
        border-color #4db8d832
    &-title
        color #4db8d8

.example
    &-block
        background #d89c4d20
        border-color #d8974d32
    &-title
        color #e98121

.quest
    &-block
        background #9735FF20
        border-color #d8974d32
    &-title
        color #9735FF
