$accentColor = #FF6A40
$textColor = #2c3e50
$codeBgColor = #303129
$arrowBgColor = #ccc
// $accentColor = #3eaf7c
// $textColor = #2c3e50
// $borderColor = #eaecef
// $codeBgColor = #282c34
// $arrowBgColor = #ccc

// Progress bar
$nprogressColor = #FF6A40