@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: url(/static/fonts/lato-normal.27bd77b.woff) format("woff")
}

@font-face {
    font-family: Lato;
    font-style: italic;
    font-weight: 400;
    src: url(/static/fonts/lato-normal-italic.f28f2d6.woff) format("woff")
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    src: url(/static/fonts/lato-black.f80bda6.woff) format("woff")
}

@font-face {
    font-family: Lato;
    font-style: italic;
    font-weight: 600;
    src: url(/static/fonts/lato-black-italic.798eafd.woff) format("woff")
}

@font-face {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    src: url(/static/fonts/RobotoMono-Regular.0b6a547.woff) format("woff")
}

@font-face {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 600;
    src: url(/static/fonts/RobotoMono-Bold.819f3b2.woff) format("woff")
}

body,
html {
    color: rgba(0, 0, 0, .75);
    font-size: 16px;
    font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
    font-variant-ligatures: common-ligatures;
    line-height: 1.67;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.app--dark .layout__panel--editor,
.app--dark .layout__panel--preview {
    color: hsla(0, 0%, 100%, .75)
}

blockquote,
dl,
ol,
p,
pre,
ul {
    margin: 1.2em 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.8em 0;
    line-height: 1.33
}

h1:after,
h2:after {
    content: "";
    display: block;
    position: relative;
    top: .33em;
    border-bottom: 1px solid hsla(0, 0%, 50%, .33)
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin: 0
}

dt {
    font-weight: 700
}

a {
    color: #0c93e4;
    text-decoration: underline;
    text-decoration-skip: ink
}

a:focus,
a:hover {
    text-decoration: none
}

code,
pre,
samp {
    font-family: Roboto Mono, Lucida Sans Typewriter, Lucida Console, monaco, Courrier, monospace;
    font-size: .85em
}